#lander {
	position: relative;
	
	height: 100vh;
	font-family: 'Montserrat';
	
	h1, h2 {
		font-size: 36px / 16px * 1em;
		font-weight: 800;
		text-transform: uppercase;
		letter-spacing: 680 / 1000 * 1em;
	}
	h1 {
		margin-top: 0;
		margin-bottom: 0;
	}
	h2 {
		color: #aaa;
		font-weight: 500;

		&:first-child {
			margin-top: 0;
		}
	}
}

.text-container {
	position: absolute;
	left: 50%;
	top: 48%;
	display: inline;
	margin: 0 auto;
	
	transform: translate(-50%, -50%);

	
	animation-name: enter;
	//animation-delay: 2000ms;
	animation-duration: 2000ms;
	animation-timing-function: @anim-ease-enter;
}

.down-arrow-container {
	position: absolute;
	display: block;

	margin: 0 auto;
	margin-bottom: 1em;
	width: 1em;
	height: 1em;
	left: 0; right: 0;
	bottom: 0;
	font-size: 2em;
	
	.down-arrow-wrapper {
		position: relative;
		svg {
			display: block;
			position: absolute;
			animation-name: downArrow;
			animation-duration: 1.5s;
			animation-iteration-count: infinite;
			animation-timing-function: @anim-ease;
		}
	}
}

@keyframes downArrow {
	0% {
		opacity: 0;
		transform: translateY(-25px);
	}
	50% {
		opacity: 1;
		transform: translateY(0px);
	}
	100% {
		opacity: 0;
		transform: translateY(25px);
	}
}
